
<H1> You are here </H1>

<a href='/update'>Update Books</a>


<div>
  <ol>
  <% Book.all.each do |book| %>
    <%= erb :'/book/_book', { layout: false, locals: {book: book }} %>
  <% end %>
  </ol>
</div>
